In [1]:
import importlib, sys
import pickle
import numpy as np
import warnings
from sklearn.metrics import mean_squared_error
import pandas as pd
warnings.simplefilter(action='ignore', category=FutureWarning)
import os

In [2]:
parentdir = 'C:\\Users\\danie\\Documents\\work\\testingRS\\TESTS'
sys.path.insert(0,parentdir) 
import entity
importlib.reload(entity)
from entity import User, CB, MF, CF, HYBRID
import utils.dataset_metrics as dt

In [3]:
with open('C:\\Users\\danie\\Documents\\work\\testingRS\\TESTS\\objects\\tfidf.pkl', 'rb') as f:
    tfidf_matrix, tfidf_feature_names, full_item_ids = pickle.load(f)

with open('C:\\Users\\danie\\Documents\\work\\testingRS\\TESTS\\objects\\subset_1000.pkl', 'rb') as f:
    utility_matrix_1, interactions_work_1 = pickle.load(f)
    
with open('C:\\Users\\danie\\Documents\\work\\testingRS\\TESTS\\objects\\subset_40000.pkl', 'rb') as f:
    utility_matrix_2, interactions_work_2 = pickle.load(f)
    
with open('C:\\Users\\danie\\Documents\\work\\testingRS\\TESTS\\objects\\subset_72269.pkl', 'rb') as f:
    utility_matrix_3, interactions_work_3 = pickle.load(f)

In [4]:
tfidf_matrix.shape

(3047, 5000)

In [5]:
USER1 = '-1032019229384696495' ###5 interacciones nuevas en T2
USER2 = '-108842214936804958' ## 2 interacciones nuevas en T3
USER3 = '9135582630122950040'  ## volvió a interactuar con los mismos en  T2

In [6]:
U1_T1 = User(USER1, utility_matrix_1, interactions_work_1)
U1_T2 = User(USER1, utility_matrix_2, interactions_work_2)
U1_T3 = User(USER1, utility_matrix_3, interactions_work_2)
# U2_T1 = User(USER2, utility_matrix_1, interactions_work_1)
# U2_T2 = User(USER2, utility_matrix_2, interactions_work_2)

### ITEMS CON LOS QUE INTERACTUÓ

In [7]:
folder = 'C:\\Users\\danie\\Documents\\work\\testingRS\\TESTS\\'
articles_df = pd.read_csv(os.path.join(folder, 'articles/shared_articles.csv'))
articles_df = articles_df[articles_df['eventType'] == 'CONTENT SHARED']
articles_df['contentId'] = articles_df['contentId'].astype(str)

In [90]:
# U1_T1.items_to_ignore
articles_df[articles_df['contentId'].isin(U1_T1.items_to_ignore)][['title', 'text']]

,title,text
3,Google Data Center 360° Tour,We're excited to share the Google Data Center ...
9,The Rise And Growth of Ethereum Gets Mainstrea...,"Ethereum, considered by many to be the most pr..."
12,Setting Up SSL proxy for Google Cloud Load Bal...,Alpha This is an Alpha release of Setting Up S...
13,NTT to buy Dell's services division for $3.05 ...,You may know Dell as a computer and server mak...
14,"Good riddance, gig economy: Uber, Ayn Rand and...",The Uber model just doesn't work for other ind...
19,Blockchain Smart Contracts Startup Selected By...,"CommonAccord, a blockchain-based startup for l..."
22,From fine wine to lotteries: Blockchain tech t...,Imagine a world where you can vote in an elect...
27,The Hierarchy of Engagement - Greylock Perspec...,The Hierarchy of Engagement The Fuel to Build ...
28,Welcome Google Cloud Platform!,Google Cloud Platform joined the Node.js Found...
29,Hopper raises $16 million for a travel app tha...,"Hopper , the makers of a handy travel applicat..."
33,French Senate Will Debate on Bitcoin Regulation,While the efforts by the French Senate to comb...
36,Enable the new Google Contacts for your users ...,"Last year, we launched the new Google Contacts..."
37,Study Shows Women and Minorities Are Punished ...,A new study finds that people love to hear abo...
38,Staying one step ahead at Pixar: An interview ...,The cofounder of the company that created the ...
44,As Microsoft US's AI chatbot turns racist trol...,"While Tay, Microsoft US's deep-learning AI cha..."
45,Linux at 25: Q&A With Linus Torvalds,Photo: Ian White/Corbis Linus Torvalds created...
47,"So your AI bot went haywire, should you care?",A Microsoft chatbot went rogue on Twitter and ...
51,The economic essentials of digital strategy,A supply-and-demand guide to digital disruptio...
54,Behind Facebook Messenger's plan to be an app ...,The question is: Why? Why would you as a user ...
56,LukeW | Obvious Always Wins,It's tempting to rely on menu controls in orde...
57,Facebook's New Mobile Test Framework Births Bo...,"Facebook lost its ability to ""move fast and br..."
60,Why and How to Avoid Hamburger Menus - Louie A...,We now have data that suggests Sidebar menus-s...
62,5 open-source alternatives to Slack,"Slack, the team communication app, went down e..."
64,"Google Showcases Its Cloud Efforts, Determined...","In the cloud computing business, Google's tech..."
66,Introducing the Google API Console,"Every day, hundreds of thousands of developers..."
67,Task management app Asana raises $50M at a $60...,"Asana , an enterprise app that lets people set..."
79,Google admits original enterprise cloud strate...,"Image: Andy Wolber/TechRepublic Meet Google, a..."
81,Spotify's Event Delivery - The Road to the Clo...,Whenever a user performs an action in the Spot...
91,"Em parceria com Facebook, KLM passa a oferecer...",Facebook e KLM anunciaram hoje uma parceria qu...
96,"Apple launches Safari Technology Preview, a br...","Apple today announced a new browser, sort of. ..."
100,Spotify chooses Google Cloud Platform to power...,It's not every day you move a 75 million+ user...
102,The Future of Pen: Windows Ink,What a day at //build 2016! We're very proud o...
122,Microsoft: Windows Phone is not the place to d...,There were not a lot of Windows Phones at BUIL...
123,The 7 Coolest Virtual Reality Experiences Made...,Hololens just starting shipping their technolo...
124,Amazon Widens Its Push-Button E-Commerce Horizons,"SEATTLE - Aaron Horn, an information technolog..."
133,How Mature is Your Organization when it Comes ...,"Every organization has its own goals, processe..."

In [96]:
articles_df[articles_df['contentId'].isin(topmf)][['title', 'text']]

,title,text
20,Using Gamified Hacking Challenges To Attract N...,The blockchain ecosystem is always in need of ...
21,O potencial do bitcoin na América Latina,28/03/2016 | por Safiri Felix | em Economia As...
69,Paragraphs,Overview Paragraphs is the new way of content ...
106,Coder | Drupal.org,Coder checks your Drupal code against coding s...
121,Visual C++ for Linux Development,Today we're making a new extension available t...
135,Building A Better Workforce: 5 Talent Trends W...,As we take a look forward at what's new and wh...

In [11]:
T1_items_no_interacted = [x for x in list(U1_T1.utility_matrix.columns) if x not in U1_T1.items_to_ignore] ##tiempo 1
real_interactions = interactions_work_2[interactions_work_2['contentId'].isin(T1_items_no_interacted) & (interactions_work_2['personId'] == U1_T1.id)]
items_ri = list(real_interactions.contentId)
hy = HYBRID(U1_T1, 15, 10, full_item_ids, tfidf_matrix)
predictions = hy.get_all_predictions()

In [15]:
predictions[items_ri]

contentId,-4571929941432664145,-518690781085251687,3703141283586666995,7454130161726657097,7767869406844505704
-1032019229384696495,0.290018,0.348224,0.083899,0.157355,0.164212
-1032019229384696495,0.171985,0.137851,0.170022,0.157665,0.187673
-1032019229384696495,0.560743,0.466995,0.499229,0.466995,0.466995

In [18]:
testfinal = [0.45, 0.28, 0.28] 
df = predictions[items_ri].reset_index(drop=True).T
df = df.rename(columns={0: "CB", 1: "MF", 2: "CF"})
for i in range(df.shape[0]):
    content = df.iloc[i].name
    df.loc[content, "ORIGINAL"] = real_interactions[real_interactions.contentId == content]['rating'].values[0]/5
    
df['Hybrid'] = df.apply(lambda row: row['CB']*testfinal[0] + row['MF']*testfinal[1] + row['CF']*testfinal[2], axis=1)
df

                            CB        MF        CF  ORIGINAL    Hybrid
contentId
-4571929941432664145  0.290018  0.171985  0.560743       0.4  0.335672
-518690781085251687   0.348224  0.137851  0.466995       0.8  0.326058
3703141283586666995   0.083899  0.170022  0.499229       0.8  0.225145
7454130161726657097   0.157355  0.157665  0.466995       0.8  0.245714
7767869406844505704   0.164212  0.187673  0.466995       0.4  0.257202

In [19]:
errors = pd.DataFrame(index = [USER1], columns = ['CB','MF','CF', 'Hybrid'])
errors.loc[USER1, 'CB'] = mean_squared_error(df['ORIGINAL'].values, df['CB'].values)
errors.loc[USER1, 'MF'] = mean_squared_error(df['ORIGINAL'].values, df['MF'].values)
errors.loc[USER1, 'CF'] = mean_squared_error(df['ORIGINAL'].values, df['CF'].values)
errors.loc[USER1, 'Hybrid'] = mean_squared_error(df['ORIGINAL'].values, df['Hybrid'].values)
errors

                            CB        MF         CF    Hybrid
-1032019229384696495  0.239517  0.268997  0.0685149  0.177368

In [32]:
dict_hybrid = hy.get_hybrid_predictions(testfinal)
ordered_keys = list({k: v for k, v in sorted(dict_hybrid.items(), key=lambda item: item[1], reverse=True)}.keys())
top_hybrid = ordered_keys[0:10]
for item in items_ri:
    if item in top_hybrid:
        print(item)

-4571929941432664145
-518690781085251687

In [43]:
dict_top = hy.get_top_N(15)
cb_hits  = []
mf_hits  = []
cf_hits  = []
for item in items_ri:
    if item in dict_top['CB']:
        cb_hits.append(item)
    if item in dict_top['MF']:
        mf_hits.append(item)
    if item in dict_top['CF']:
        cf_hits.append(item)
print(cb_hits)
print(mf_hits)
print(cf_hits)

['-4571929941432664145', '-518690781085251687']
['7767869406844505704']
['-4571929941432664145']

In [39]:
N = 15
testfinal = [0.45, 0.28, 0.28] 
topcb = dict_top['CB'][0:round(testfinal[0]*N)]
topmf = dict_top['MF'][0:round(testfinal[1]*N)]
topcf = dict_top['CF'][0:round(testfinal[2]*N)]
topn = topcb + topmf + topcf
topn

['-518690781085251687',
 '5619251370090681244',
 '8095004770374551394',
 '-36844712915106340',
 '3067875254349597654',
 '8298709454703868984',
 '6023609667389715259',
 '-5431549861280885742',
 '-8773118241761372618',
 '7528802258213768379',
 '-2271868873349907631',
 '809601605585939618',
 '-1672166631728511207',
 '-1802980374508081539',
 '-6136272094613269629']

In [40]:
for item in items_ri:
    if item in topn:
        print(item)

-518690781085251687

In [24]:
test0 = [0.33, 0.33, 0.33] 
test1 = [0.7, 0.15, 0.15] 
test2 = [0.15, 0.7, 0.15] 
test3 = [0.15, 0.15, 0.7] 
test4 = [0, 0.5, 0.5] 
test5 = [0.5, 0.5, 0] 
weightsm = [test0, test1, test2, test3, test4, test5]
d = {}
for i, weights in enumerate(weightsm):
    name_col = "HY-{}".format(i)
    dict_hybrid = hy.get_hybrid_predictions(weights)
    ordered_keys = list({k: v for k, v in sorted(dict_hybrid.items(), key=lambda item: item[1], reverse=True)}.keys())
    top_hybrid = ordered_keys[0:10]
    d[i] = [hit for hit in items_ri if hit in top_hybrid]
    df[name_col] = df.apply(
        lambda row: row['CB']*weights[0] + row['MF']*weights[1] + row['CF']*weights[2], axis=1)
df

In [45]:
# dict_hybrid = hy.get_hybrid_predictions(weightsm[5])
# ordered_keys = list({k: v for k, v in sorted(dict_hybrid.items(), key=lambda item: item[1], reverse=True)}.keys())
# ordered_keys

## CF DIFF

In [110]:
cf = CF(U1_T1, 10)
cf_predictions = cf.predict_ratings()
cf_predictions[items_ri]

,-4571929941432664145,-518690781085251687,3703141283586666995,7454130161726657097,7767869406844505704
-1032019229384696495,0.200278,0.10653,0.138764,0.10653,0.10653

In [111]:
cf.default_rating()[0]

0.1065298498464881

In [69]:
USER = USER1
errors = pd.DataFrame(index = [USER], columns = ['CB','MF','CF'])
errors.loc[USER, 'CB'] = mean_squared_error(df['ORIGINAL'].values, df['CB'].values)
errors.loc[USER, 'MF'] = mean_squared_error(df['ORIGINAL'].values, df['MF'].values)
errors.loc[USER, 'CF'] = mean_squared_error(df['ORIGINAL'].values, df['CF'].values)
errors.loc[USER, 'HY-0'] = mean_squared_error(df['ORIGINAL'].values, df['HY-0'].values)
errors.loc[USER, 'HY-1'] = mean_squared_error(df['ORIGINAL'].values, df['HY-1'].values)
errors.loc[USER, 'HY-2'] = mean_squared_error(df['ORIGINAL'].values, df['HY-2'].values)
errors.loc[USER, 'HY-3'] = mean_squared_error(df['ORIGINAL'].values, df['HY-3'].values)
errors.loc[USER, 'HY-4'] = mean_squared_error(df['ORIGINAL'].values, df['HY-4'].values)
errors.loc[USER, 'HY-5'] = mean_squared_error(df['ORIGINAL'].values, df['HY-5'].values)

errors

['-518690781085251687',
 '5619251370090681244',
 '8095004770374551394',
 '-36844712915106340',
 '3067875254349597654',
 '8298709454703868984',
 '6023609667389715259',
 '-4571929941432664145',
 '-5973686110278905367',
 '-5431549861280885742',
 '-8773118241761372618',
 '7528802258213768379',
 '-2271868873349907631',
 '-1672166631728511207',
 '8194079557551008273',
 '809601605585939618',
 '-1672166631728511207',
 '-1802980374508081539',
 '-6136272094613269629',
 '-4571929941432664145',
 '-4662020648308370136']

## CHECK CF

In [120]:
USER = '-1032019229384696495'
user_object = User(USER, utility_matrix_1, interactions_work_1)
cf = CF(user_object, 10)
us, sim, ind = cf.getNneighbors()
itemid = '-6362758570633473480'

In [121]:
um = cf.user.utility_matrix.copy()
index_user = list(cf.user.utility_matrix.index).index(cf.user.id)
rating_user = um.iloc[index_user, :]
rating_user[rating_user == 0] = np.nan
mean_rating_user = np.nanmean(rating_user.values)
sum_n_similarities = np.sum(sim)
wtd_sum = 0

In [126]:
for index, i in enumerate(ind):
    user_neig = list(cf.user.utility_matrix.index)[i]
    rating_neig = cf.user.utility_matrix.loc[user_neig][itemid]
    average_rating_neig = np.mean(cf.user.utility_matrix.iloc[i, :])
    user_full = um.iloc[i, :]
    user_full[user_full == 0] = np.nan
    real_av = np.nanmean(user_full.values)
#     print(real_av)
    rating_diff = rating_neig - real_av
    product = rating_diff * (sim[index])
    print(rating_neig)
    wtd_sum = wtd_sum + product
prediction = mean_rating_user + (wtd_sum/sum_n_similarities)

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0